.h_style{
    height: 100px;
}

.inp_block{
    height: 400px;
}

.b_block{
    display: none;
    height: 400px;
}

.c_block{
    display: none;
    height: 200px;
}

.name{
    padding: 30px;
    font-size: 25px;
}

.glyphicon {
    font-size: 30px;
}

.glyphicon-cloud-upload{
    padding : 100px;
    font-size:  150px;
    color: #F3F7F9  ;
}

.box{

    width : 100%;
    height: 350px ;
    margin-left: auto;
    margin-right: auto;
    background-color: #F3F7F9  ;
}

#blah{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

  